* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


body{
    font-family: sans-serif;
    overflow-x: hidden;
}

nav{
    display: flex;
    background-color: rgb(253,202,64);
    justify-content: space-around;
    height: 50px;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 1px 8px 0 black;
    
}

nav ul{
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav div img{
    width: 150px;
    padding-top: 3px;
}

nav ul li a{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 0.8em;
}

nav ul li a:active{
    transition: all 1s;
}

nav ul li a:hover{
    color: rgb(255, 226, 146);
    transition: all 0.5s;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

.content{
    /* border: 1px solid black; */
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.row{
    display: flex;
    height: 100px;
    width: 70%;
    align-items: center;
}

#beranda{
    padding-top: 70px;
}

#beranda p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    flex-basis: 50%;
    line-height: 1.6em;
    border-left: 2px solid rgb(253,202,64);
    padding-left: 20px;
}

#produk{
    display: flex;
    padding-top: 60px;
    justify-content: space-evenly;
}

.row-produk{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.gambar-produk{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding-top: 30px;
}

.card{
    box-shadow: 7px 6px 5px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    cursor: pointer;
}

.card:hover{
    box-shadow: -7px -6px 5px 0 rgba(0,0,0,0.2);
    right: 1px;
    transition: all 0.3s;
    position: relative;
}

.img-kunyit-asam{
    width: 200px;
    height: 267px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.card .input-kunyit{
    position: absolute;
    width: 200px;
    height: 267px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 12px;
}

.kunyit-asam{
    opacity: 0;
    transition: all 0.5s;
}

.kunyit-asam.show{
    opacity: 1;
    transition: all 0.5s;
}

.kunyit-asam h3{
    text-align: center;
}

.kunyit-asam p{
    text-align: justify;
    margin-top: 5px;
    line-height: 1.8;
}

.bahan{
    font-size: 14px;
}

.img-beras-kencur{
    width: 200px;
    height: 267px;
    border-radius: 12px;
    transition: 0.3s;
}

.card .input-beras{
    position: absolute;
    width: 200px;
    height: 267px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 12px;
}

.card button{
    border-radius: 12px;
    border: none;
    width: 90%;
    height: 250px;
}

.beras-kencur{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

.beras-kencur.show{
    opacity: 1;
    transition: all 0.5s;
    top: 0;
    position: absolute;
}

.beras-kencur h3{
    text-align: center;
}

.beras-kencur p{
    text-align: justify;
    margin-top: 5px;
    line-height: 1.8;
}

.desk-produk{
    position: relative;
    margin-bottom: -20px;
}

.img-jahe-emprit{
    width: 200px;
    height: 267px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.card .input-jahe{
    position: absolute;
    width: 200px;
    height: 267px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    border-radius: 12px;
}

.jahe-emprit{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

.jahe-emprit.show{
    opacity: 1;
    transition: all 0.5s;
    top: 0;
    position: absolute;
}

.jahe-emprit h3{
    text-align: center;
}

.jahe-emprit p{
    text-align: justify;
    margin-top: 5px;
    line-height: 1.8;
}

.img-pahitan{
    width: 200px;
    height: 267px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.pahitan-murni{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

.pahitan-murni.show{
    opacity: 1;
    transition: all 0.5s;
    top: 0;
    position: absolute;
}

.card .button-pahitan{
    margin-top: 30px;
}

.pahitan-mixed{
    display: none;
}

.row-produk h2{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    align-items: left;
    position: relative;
    margin-left: 140px;
}

.row-produk h2::after{
    position: absolute;
    width: 20%;
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(253,202,64);
    left: 0;
    top: 50%;
    margin-left: -70px;
}

.border-produk{
    border-bottom: 2px solid rgb(253,202,64);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card h3{
    font-size: 17px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child{
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

div.banner img{
    width: 100%;
    margin-bottom: -40px;
}

div.banner-mobile img{
    display: none;
}

#galeri{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.galeri-produk{
    width: 70%;
}

.galeri-produk h2{
    width: 100%;
    font-size: 27px;
    position: relative;
    margin-left: 70px;
}

.galeri-produk h2::after{
    position: absolute;
    width: 20%;
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(253,202,64);
    left: 0;
    top: 50%;
    margin-left: -70px;
}

.gambar-galeri{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.slides{
    display: flex;
    width: 70%;
    /* margin-left: 380px; */
    margin-left: 190px;
    overflow: hidden;
    box-shadow: 0px 5px 15px 0 rgba(0,0,0,0.2);
}

.slides input{
    display: none;
}

.slide{
    display: flex;
    margin-left: 167px;
    
}

.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: 280px;
    margin-left: 43px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(253,202,64);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

 .manual-btn:not(:last-child){
     margin-right: 40px;
 }

 .manual-btn:hover{
     background-color: rgb(253,202,64);
 }

 #radio1:checked ~ .first{
     margin-left: 165px;
     transition: all 1s;
 }

 #radio2:checked ~ .first{
    margin-left: -550px;
    transition: all 1s;
}

#radio3:checked ~ .first{
    margin-left: -1260px;
    transition: all 1s;
}

#radio4:checked ~ .first{
    margin-left: -1970px;
    transition: all 1s;
}

#radio5:checked ~ .first{
    margin-left: -2695px;
    transition: all 1s;
}

#kontak{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 60px;
}

.judul-kontak h2{
    width: 100%;
    font-size: 27px;
    position: relative;
    margin-left: 260px;
}

.judul-kontak h2::after{
    position: absolute;
    width: 20%;
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(253,202,64);
    left: 0;
    top: 50%;
    margin-left: -70px;
}

.link-kontak{
    margin-top: 30px;
    display: flex;
    flex: row;
    width: 70%;
    margin-left: 190px;
    justify-content: space-evenly;
}

.link-kontak .icon img{
    width: 40px;
    height: 40px;
}

.link-kontak .icon{
    align-items: center;
    text-align: center;
}

.link-kontak .icon h6{
    margin-top: 10px;
    margin-bottom: 15px;
}

.link-kontak .icon img#location{
    width: 25px;
}

.link-kontak .line{
    /* content: ""; */
    width: 2px;
    
    background-color: rgb(253,202,64);
}

.icon p{
    margin-top: 15px;
}

.icon a#link-ig{
    background-color: rgb(253,202,64);
    border-radius: 7px;
    padding: 6px;
    font-size: 12px;
    text-decoration: none;
    box-shadow: 0px 7px 8px 0px black;
}

.icon a#link-ig:hover{
    background-color: rgb(255, 218, 115);
    transition: all 0.5s;
}

footer{
    margin-top: 30px;
    padding: 20px;
    color: black;
    background-color: rgb(253,202,64);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

aside{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.profile header h2{
    width: 100%;
    font-size: 27px;
    position: relative;
    margin-left: 255px;
}

.profile header h2::after{
    position: absolute;
    width: 20%;
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(253,202,64);
    left: 0;
    top: 50%;
    margin-left: -70px;
}

section .container-profile{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.container-profile .row-profile{
    display: flex;
    width: 50%;
    height: 350px;
    box-shadow: 0px 0px 6px 0 black;
    position: relative;
    overflow: hidden;
}

.row-profile .gambar-profile{
    background-color: rgb(253,202,64);
    height: 350px;
    width: 50%;
}

.row-profile .bio{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 80px;
    font-size: 14px;
    justify-content: space-evenly;
}

.bio div h3{
    font-weight: normal;
}

.bio div p{
    font-weight: bold;
    margin-top: 7px;
}

.row-profile img{
    height: 500px;
    position: absolute;
    top: -70px;
    left: -20px; 
}


@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }

    #beranda{
        padding-top: 90px;
        margin-bottom: 30px;
    }

    h2{
        font-size: 25px;
        flex-basis: 50%;
    }

    .row-produk{
        width: 85%;
    }

    .row
    {
        width: 85%;
        align-items: center;
    }

    .img-kunyit-asam{
        width: 160px;
        height: 213px;
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
    }

    .img-beras-kencur{
        width: 160px;
        height: 213px;
        border-radius: 12px;
        transition: 0.3s;
    }

    .img-jahe-emprit{
        width: 160px;
        height: 213px;
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
    }

    .card h3{
        font-size: 14px;
    }

    .galeri-produk{
        width: 85%;
    }
    
    .slides{
        margin-left: 55px;
        width: 85%;
    }

    .slide{
        height: 250px;
        margin-left: 95px;
    }

    #radio1:checked ~ .first{
        margin-left: 95px;
    }
   
    #radio2:checked ~ .first{
       margin-left: -545px;
   }
   
   #radio3:checked ~ .first{
       margin-left: -1190px;
   }
   
   #radio4:checked ~ .first{
       margin-left: -1830px;
   }
   
   #radio5:checked ~ .first{
       margin-left: -2470px;
   }

   .nav-manual{
       margin-top: 220px;
       margin-left: -83px;
   }

   .manual-btn{
       padding: 4px;
   }

   .judul-kontak h2{
       margin-left: 125px;
   }

   .link-kontak{
       margin-left: 55px;
       width: 85%;
   }

   .link-kontak .icon{
       flex-basis: 17%;
   }

   .icon p{
       font-size: 14px;
   }

   .profile header h2{
       margin-left: 125px;
   }

   .container-profile .row-profile{
       width: 85%;
   }

   .row-profile img{
       height: 470px;
       top: -70px;
       left: 0px;
   }

   .row-profile .bio{
       padding-left: 70px;
   }

}

@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 50%;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        background-color: rgb(253,202,64)
    }

    .menu-toggle{
        display: flex;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
        height: 500px;
    }

    div.banner img{
        display: none;
    }

    div.banner-mobile img{
        display: flex;
        width: 100%;
    }

    .img-kunyit-asam{
        width: 100px;
        height: 133px;
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
    }

    .img-beras-kencur{
        width: 100px;
        height: 133px;
        border-radius: 12px;
        transition: 0.3s;
    }

    .img-jahe-emprit{
        width: 100px;
        height: 133px;
        border-radius: 12px;
        transition: 0.3s;
        cursor: pointer;
    }

    .card h3{
        font-size: 10px;
    }

    .slides{
        margin-left: 35px;
        width: 85%;
    }

    .slide{
        height: 250px;
        margin-left: -15px;
    }

    #radio1:checked ~ .first{
        margin-left: -15px;
    }
   
    #radio2:checked ~ .first{
       margin-left: -550px;
   }
   
   #radio3:checked ~ .first{
       margin-left: -1085px;
   }
   
   #radio4:checked ~ .first{
       margin-left: -1620px;
   }
   
   #radio5:checked ~ .first{
       margin-left: -2150px;
   }

   .nav-manual{
       margin-top: 220px;
       margin-left: -195px;
   }

   .manual-btn{
       padding: 4px;
   }

   .judul-kontak h2{
    margin-left: 105px;
    }

    .link-kontak{
        margin-left: 35px;
    }

    .profile header h2{
        margin-left: 105px;
    }

   .container-profile .row-profile{
       width: 85%;
       height: 280px;
   }

   .row-profile img{
       height: 350px;
       top: -55px;
       left: -15px;
   }

   .row-profile .bio{
       padding-left: 30px;
       font-size: 10px;
       flex-basis: 42.5%;
   }

   footer{
       font-size: 10px;
   }
}